#exclude the following contents
#all scripts in matlab
matlab/*
#parametric values for generating trajectories
coefficients.txt
coefficients.yaml
#build files
build/*
#previous data stored for plotting
all_data/*
